<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xin.fallen.dao.CnUserMapper">
    <resultMap id="BaseResultMap" type="xin.fallen.bean.CnUser">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="last_login" property="lastLogin" jdbcType="TIMESTAMP"/>
        <result column="is_superuser" property="isSuperuser" jdbcType="BIT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="first_name" property="firstName" jdbcType="VARCHAR"/>
        <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="is_staff" property="isStaff" jdbcType="BIT"/>
        <result column="is_active" property="isActive" jdbcType="BIT"/>
        <result column="date_joined" property="dateJoined" jdbcType="TIMESTAMP"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <result column="gender" property="gender" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="rank" property="rank" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, 
    is_active, date_joined, birthday, gender, phone, avatar, rank
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from userAdmin_cnuser
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectPrimaryKeyForLogin" resultType="Integer" parameterType="String">
    select id from userAdmin_cnuser where (username=#{username} or email=#{username} or phone=#{usernmae}) and       password=#{password}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update userAdmin_cnuser set is_active = 0
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="xin.fallen.bean.CnUser">
    insert into userAdmin_cnuser (id, password, last_login, 
      is_superuser, username, first_name, 
      last_name, email, is_staff, 
      is_active, date_joined, birthday, 
      gender, phone, avatar, 
      rank)
    values (#{id,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{lastLogin,jdbcType=TIMESTAMP}, 
      #{isSuperuser,jdbcType=BIT}, #{username,jdbcType=VARCHAR}, #{firstName,jdbcType=VARCHAR}, 
      #{lastName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{isStaff,jdbcType=BIT}, 
      #{isActive,jdbcType=BIT}, #{dateJoined,jdbcType=TIMESTAMP}, #{birthday,jdbcType=DATE}, 
      #{gender,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{rank,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="xin.fallen.bean.CnUser">
        insert into userAdmin_cnuser
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="lastLogin != null">
                last_login,
            </if>
            <if test="isSuperuser != null">
                is_superuser,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="firstName != null">
                first_name,
            </if>
            <if test="lastName != null">
                last_name,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="isStaff != null">
                is_staff,
            </if>
            <if test="isActive != null">
                is_active,
            </if>
            <if test="dateJoined != null">
                date_joined,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="rank != null">
                rank,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="lastLogin != null">
                #{lastLogin,jdbcType=TIMESTAMP},
            </if>
            <if test="isSuperuser != null">
                #{isSuperuser,jdbcType=BIT},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="isStaff != null">
                #{isStaff,jdbcType=BIT},
            </if>
            <if test="isActive != null">
                #{isActive,jdbcType=BIT},
            </if>
            <if test="dateJoined != null">
                #{dateJoined,jdbcType=TIMESTAMP},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=DATE},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="rank != null">
                #{rank,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="xin.fallen.bean.CnUser">
        update userAdmin_cnuser
        <set>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="lastLogin != null">
                last_login = #{lastLogin,jdbcType=TIMESTAMP},
            </if>
            <if test="isSuperuser != null">
                is_superuser = #{isSuperuser,jdbcType=BIT},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="firstName != null">
                first_name = #{firstName,jdbcType=VARCHAR},
            </if>
            <if test="lastName != null">
                last_name = #{lastName,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="isStaff != null">
                is_staff = #{isStaff,jdbcType=BIT},
            </if>
            <if test="isActive != null">
                is_active = #{isActive,jdbcType=BIT},
            </if>
            <if test="dateJoined != null">
                date_joined = #{dateJoined,jdbcType=TIMESTAMP},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="rank != null">
                rank = #{rank,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="xin.fallen.bean.CnUser">
    update userAdmin_cnuser
    set password = #{password,jdbcType=VARCHAR},
      last_login = #{lastLogin,jdbcType=TIMESTAMP},
      is_superuser = #{isSuperuser,jdbcType=BIT},
      username = #{username,jdbcType=VARCHAR},
      first_name = #{firstName,jdbcType=VARCHAR},
      last_name = #{lastName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      is_staff = #{isStaff,jdbcType=BIT},
      is_active = #{isActive,jdbcType=BIT},
      date_joined = #{dateJoined,jdbcType=TIMESTAMP},
      birthday = #{birthday,jdbcType=DATE},
      gender = #{gender,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>